<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Summery</title>
</head>
<body>
    <h1>Thank you for your order!</h1>
    <p>You have ordered a <Strong>{{@SESSION.petType}}</Strong> with <strong>{{@SESSION.petColor}}</strong></p>
    <a href="/">Back to home page</a>
</body>
</html>